html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;
}

.form-control:disabled {
    background-color: #fff;
}

.input-dashboard {
    background: #fff;
    pointer-events: none;
}

.input-dashboard.ativo {
    pointer-events: auto;
    border: 1px solid black;
    background-color: rgb(228, 228, 228);
}

#salvar,
#editar {
    font-size: 20px;
}

@media (max-width:991px){
    .pageLink{
        width: 100%;
    }
}